.qr-content {
    padding: 42px 32px;
    font-family: 'Inter', sans-serif;
}

.topbar {
    margin-bottom: 85px;
}

.title {
    text-align: center;
    margin-top: 5px;
    font-weight: 600;
    color: #CACAC9;
}

.share {
    float: right;
}

.profil {
    margin-bottom: 30px;
}

.title-profile {
    font-weight: 400;
    font-size: 16px;
    color: #CACAC9;
    line-height: 15px;
}

.name {
    font-weight: 800;
    font-size: 18px;
    line-height: 15px;
}

.qr-code {
    text-align: center;
}

.scan {
    line-height: 30px;
    font-weight: 600;
}

.scan-code {
    color: #A7A8B1;
}

.code-qr {
    height: 85px;
    background-color: #FDFAFD;
    border-radius: 20px;
    vertical-align: center;
    padding: 15px;
}

.scanner {
    background-color: black;
    height: 450px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    padding: 60px 32px;
    color: white;
    text-align: center;
}

.tips {
    background-color: #1F1f1f;
    border-radius: 20px;
    height: 80px;
    margin: 40px 5px 0px 0px;
}

.img-tips {
    background-color: black;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin: 25%;
}

.img-tips img {
    text-align: center;
    margin: 10%;
}

.tips-word {
    margin: 0 10px;
    text-align: left;
    padding: 15px 0;
    color: #CACAC9;
}

.tips-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}